$content-bg-color: #21232e;
$header-img: url(../img/m-h-night.jpg);
$heading-text: #ffffff;
$underline-color: #ff4e33;

$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Fresca', sans-serif;

$button-bg-color: #e3ac00;
$button-hover-bg-color: #cf9b00;
$button-active-bg-color: rgba(145, 108, 0, 0.7);

$button_settings:(
    "button_padding": 20px 55px,
    "button_border":none,
);

$card-text-color: #c0c3ce;
$section-card-background-color: #3b3f50;
$banner-gradient: linear-gradient(-90deg,#912b53, #e3ab01);

$footer-background-color: #3b3f50;
$footer-text-color: #bfc1cc;
