$content-bg-color: #FFFFFF;
$header-img: url(../img/m-h-day.jpg);
$heading-text: #2c2f3c;
$underline-color: #14a0c7;

$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Hind', sans-serif;

$button-bg-color: #699900;
$button-hover-bg-color: #507303;
$button-active-bg-color: #415516;

$button_settings:(
    "button_padding": 20px 55px,
    "button_border":none,
);

$card-text-color: #c0c3ce;
$section-card-background-color: #21232e;
$banner-gradient: linear-gradient(-90deg,#2c5adb, #699900);

$footer-background-color: #21232e;
$footer-text-color: #bfc1cc;
